<div class="list-wrapper">

  <header-directive></header-directive>
  <section class="expert-detail">
    <div class="img-container-big">
      <img ng-src="{{ selectedExpert.img }}">
    </div>
    <div class="text-container-big">
      <p id="expert-name">{{selectedExpert.first_name}} {{ selectedExpert.last_name }}
        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
          class="fa fa-star-o"></i>
      </p>
      <hr>
      <div class="expert-detail-actions">
        <i class="fa fa-clock-o fa-5x" ng-click="showGeneralAvailability()" ng-show="showTimes"></i>

        <i class="fa fa-envelope-o fa-5x" ng-show="msgInput" ng-click="showMessageInputBox()"></i>

        <i class="fa fa-calendar fa-5x" ng-show="showCalendar" ng-click="showApptCalendar()"></i>

        <!--<div class="action-box">-->
<!--asdf-->
        <!--</div>-->





        <!--<div class="date-picker-container">-->
          <!--<p id="action-text" ">Check My Calendar</p>-->
          <!--<md-datepicker ng-model="birthday" class="date-picker"></md-datepicker>-->
        <!--</div>-->

      </div>
    </div>
  </section>

  <section class="expert-detail">
    <div class="details-aside">
      <div class="sub-detail">
        <h4>Expert Subjects</h4>
        <p>
          <span class="skill-list" ng-repeat="skill in selectedExpert.skills track by $index">{{ skill }}&nbsp;|&nbsp;</span>
        </p>
      </div>
      <div class="sub-detail">
        <h4>Education</h4>
        <p>Bachelors Degree in Business Management from Utah Valley University</p>
      </div>
      <div class="sub-detail">
        <h4>Experience</h4>
        <p>I have taught HTML/CSS at DevMountain coding bootcamp for the last year. I have taught piano lessons since
          I was 18 years old. </p>
      </div>
      <div class="sub-detail">
        <h4>Notes</h4>
        <p>Ret neque non quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
          egestas. </p>
      </div>
    </div>
    <div class="reviews-container">
      <h2>Reviews</h2>
      <div class="review-info">
        <p>David B. &nbsp;-&nbsp; February 23, 2016</p>
        <br>
        <p id="review-desc">Bacon ipsum dolor amet rump flank chicken jowl, ball tip bacon frankfurter jerky pancetta
          cow andouille shankle
          short loin landjaeger. Turducken venison beef andouille kevin cow boudin hamburger frankfurter spare
          ribs ground round alcatra picanha chicken. Short loin tongue ribeye alcatra jerky. Swine rump flank turkey
          cow pork belly corned beef.</p>
      </div>

      <div class="review-info">
        <p>Jon S. &nbsp;-&nbsp; January 3, 2016</p>
        <br>
        <p id="review-desc">Turducken venison beef andouille kevin cow boudin hamburger frankfurter spare ribs ground
          round alcatra picanha
          chicken. Short loin tongue ribeye alcatra jerky. Swine rump flank turkey cow pork belly corned beef.</p>
      </div>

      <div class="review-info">
        <p>Jenn T. &nbsp;-&nbsp; August 23, 2015</p>
        <br>
        <p id="review-desc">Bacon ipsum dolor amet rump flank chicken jowl, ball tip bacon frankfurter jerky pancetta
          cow andouille shankle
          short loin landjaeger.</p>
      </div>

      <div class="review-info">
        <p>Taylor H. &nbsp;-&nbsp; June 1, 2015</p>
        <br>
        <p id="review-desc">Bacon ipsum dolor amet rump flank chicken jowl, ball tip bacon frankfurter jerky pancetta
          cow andouille shankle
          short loin landjaeger. urducken venison beef andouille kevin cow boudin hamburger frankfurter spare ribs
          ground round alcatra picanha chicken. Short loin tongue ribeye alcatra jerky. Swine rump flank turkey
          cow pork belly corned beef.</p>
      </div>


    </div>

  </section>

</div>