<div class="list-wrapper">

  <header-directive></header-directive>

  <div class="list-view-search">
    <search-input></search-input>
  </div>

  <div class="list-view-message-container" ng-if="!filteredExperts.length">
    <p>No matches found. Search again or browse experts.</p>
    <div>
      <div class="browse-btn" ng-click="refreshExperts()">Browse</div>
    </div>
  </div>

  <div class="container">
    <div class="expert-list-item"
         ng-repeat="expert in filteredExperts = (experts | filter: {skills: searchItem} | filter: {country: searchLocation})">
      <div class="profile btn" ng-click="getProfile(expert.id)">
        <p>View Profile</p>
      </div>
      <div class="img-container">
        <img ng-src="{{expert.img}}">
      </div>
      <div class="expert-content">
        <p id="name">{{expert.first_name}} {{expert.last_name}}</p>
        <p id="desc">{{expert.city}}, {{ expert.country }}</p>
        <p id="expert-skills">
          <span class="skill-list" ng-repeat="skill in expert.skills track by $index">{{ skill }}&nbsp;&nbsp;|&nbsp;&nbsp;</span>
        </p>

      </div>
      <div class="btn list-view-btn-sml" ng-click="getProfile(expert.id)">
        <p id="sml-btn-text">View Profile</p>
      </div>
    </div>


  </div>


</div>