<div class="list-wrapper">

  <header-directive></header-directive>

  <div class="container">
    <div class="expert-list-item" ng-repeat="expert in experts | filter:searchItem">
      <div class="profile btn" ng-click="getProfile(expert.id)">
        <p>View Profile</p>
      </div>
      <div class="img-container">
        <img ng-src="{{expert.img}}">
      </div>
      <div class="expert-content">
        <p id="name">{{expert.first_name}} {{expert.last_name}}</p>
        <p id="desc">{{expert.city}}, {{ expert.country }}</p>
        <p id="expert-skills">{{ expert.skills }}</p>

      </div>
      <div class="btn list-view-btn-sml" ng-click="getProfile(expert.id)">
        <p id="sml-btn-text">View Profile</p>
      </div>
    </div>


  </div>


</div>